{% extends 'book/base.html' %}
{% block title %} لیست کتاب‌ها {% endblock %}

{% block main %}
<div class="row mt-2">
    <div class="col-sm-10">
        <ul class="list-group">
            {% for book in books %}

            <li class="list-group-item d-flex justify-content-between"><a class="text-decoration-none"
                    href="{% url 'book_detail' id=book.id %}">
                    {{book.title}} </a> <span>{{ book.author }}</span> </li>


            {% endfor %}
        </ul>

    </div>
</div>


{% endblock %}